.nav-logo {
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-icons {
    float: right;
    font-size: 70px;
}

.nav-elements {
    font-size: 30px;
}

header .container {
    margin-top: 30px;
    color: #8c8c8c;
}

header hr {
    width: 100%;
}

section#top-bar textarea {
    resize: none;
}